body {
    background-color: #eeeeee;
}

header {
    background-color: #003153;
}

h1, h2, h3, h4, h5, h6 {
    color: #003153;
}

main {
    background-color: #ffffff;
    min-height: 100px;
}

footer {
    background-color: #003153;
    font-size: 0.75em;
    bottom: 0;
    height: 50px;
    line-height: 50px;
}

.navbar-brand-logo {
    width: 100%;
    max-width: 50px;
    height: auto;
}

.card-header {
    font-weight: bold;
    background-color: #E4F1FB;
}
