<header class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a href="/" class="navbar-brand">
            <img src="./assets/Devfecta-Circle-White.png" class="navbar-brand-logo" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" routerLink="/">DevFecta.com <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                        <a class="nav-link" href="https://github.com/devfecta">
                            <span class="fa fa-github"></span> 
                            Public Repository
                        </a>
                </li>
                <li class="nav-item ">
                        <a class="nav-link" href="https://github.com/devfecta/devfecta.github.io/wiki">
                            <span class="fa fa-wikipedia-w"></span> 
                            DevFecta Wiki
                        </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/company/devfecta" target="_blank">
                            <span class="fa fa-linkedin"></span> 
                            LinkedIn
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:devfecta@gmail.com">
                            <span class="fa fa-at"></span> 
                        Contact
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/resume">
                            <span class="fa fa-file"></span> 
                        Resume
                    </a>
                </li>
                
            </ul>
            <!--
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            -->
        </div>
    </nav>
</header>

<main role="main" class="container">
    <router-outlet></router-outlet>
</main>

<footer class="text-white text-center">
    <script type="text/javascript">
        document.write(new Date().getFullYear() + " &copy DevFecta");
    </script>
</footer>