#homeImage {
  height: 500px;
  background-color: #000;
  background-image: url("/src/images/web-development.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: #000 0px 3px 5px;
}

#homeIntro {
  position: relative;
  font-size: 1.5em;
  min-height: 300px;
  height: auto;
  padding: 1.5em;
}

#resumeArticle {
  background-color: #666;
  padding: 2em 0;
  min-height: 50px;
  box-shadow: #222 0 -3px 5px;
  z-index: 100;
  position: relative;
}

@media (max-width: 767px) {
  body {
    background-color: #003153 !important;
  }
  .mapStyle > div {
    width: 100vw;
  }
}

@media (min-width: 768px) {
  main {
    background-color: #fff !important;
  }
  .mapStyle > div {
    width: 50vw;
  }
}
