.portfolio-article:nth-child(3n - 1) {
  color: #000;
  background-color: #ddd;
}

.portfolio-article:nth-child(3n - 1) a {
  
}

.portfolio-article:nth-child(3n + 1) {
  color: #000;
  background-color: #fff;
}

.portfolio-article:nth-child(3n + 0) a {
  
}

.portfolio-article:nth-child(3n + 0) {
  color: #fff;
  background-color: #003153;
}

.portfolio-article:nth-child(3n + 1) a {
  
}

.portfolio-article:hover {
  color: #fff;
  background-color: #666;
  transition: all 500ms linear;
}

.portfolio-article:hover a {
  color: #ff6000;
  transition: all 500ms linear;
}

h2 {
  color: unset !important;
}

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 10rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(248, 249, 250, 0.8);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}
.portfolio
  .portfolio-item
  .portfolio-item-caption
  .portfolio-item-caption-content {
  font-size: 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
